node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
tokens.txt
data.json
server/courses.json
server/tokens.txt
server/data.json
server/misc/

# macOS
.DS_Store
